<style> 

h1{
    color: #cad9f8;
    text-align: center;
    display: flex;
    justify-content: center;
    vertical-align: center;
    align-self: center;
    margin-top: 20px;
}

.icon{
    font-size:150px; 
    color:#cad9f8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.iconText{
    font-size: 100px;
    font-family: Verdana, sans-serif;
    margin-left: 20px;
}

h3{
    color: #CAF0F8;
    text-align: center;
    display: flex;
    justify-content: center;
    vertical-align: center;
    align-self: center;
    margin-top: 50px;
}

h5{
    color: #cad9f8;
    text-align: center;
    display: flex;
    justify-content: center;
    vertical-align: center;
    align-self: center;
}

</style>


<h1> About the App </h1>

<nobr> <i class="fa fa-leaf icon"> <p class="iconText"> Mint </p></i> </nobr>


    <h3> Overview  </h3> 
    <h5> This website gives the basic information about champions and runes. It will allow the user to view useful information that will help with game-playing. 
    </h5>

    <h3> User Insight </h3> 
    <h5> 
        Each of the tabs on the nav-bar will lead the user to specific information about the game. 
    </h5>

    <h3> Future Development </h3> 
    <h5> 
        For now, this is a very simple information web app where more features will be added in the future. 
        There will be plans to create rune pages for champions that my friends and I play often as well as saving them to favorites. 
        This feature will be coming soon and is currently still in development. 
    </h5>


    



