<style> 

h1{
    color: #cad9f8;
    text-align: center;
    display: flex;
    justify-content: center;
    vertical-align: center;
    align-self: center;
    margin-top: 20px;
}

.icon{
    font-size:150px; 
    color:#cad9f8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.iconText{
    font-size: 100px;
    font-family: Verdana, sans-serif;
    margin-left: 20px;
}

h3{
    color: #CAF0F8;
    text-align: center;
    display: flex;
    justify-content: center;
    vertical-align: center;
    align-self: center;
    margin-top: 50px;
}

h5{
    color: #cad9f8;
    text-align: center;
    display: flex;
    justify-content: center;
    vertical-align: center;
    align-self: center;
}

</style>


<h1> About the App </h1>

<nobr> <i class="fa fa-leaf icon"> <p class="iconText"> Mint </p></i> </nobr>


    <h3> Overview </h3> 
    <h5> Often times when leaguing, players have specific preferences on runes for each individual champs. 
    If all of the preferred runes are all combined into this website, it will save a lot of time. 
    This website is dedicated solely for my friends' and my League experience (to be able to change runes without searching it up)
    </h5>

    <h3> User Insight </h3> 
    <h5> 
        Essentially, the user will be able to search up their champions and find the runes based on the gamemode and specific lane. 
    </h5>


    



