<style> 
    h1 {
        color: #5d5746;
        text-align: center;
    }

    h5{
        text-align: center;
        color: #7a725c;
    }

    h2{
        text-align: center;
        color: #4e493b;
    }

    h4{
        text-align: center;
        background-color: #E6DDC6;
    }

    .facts{
        color: #7a725c;
    }


</style>

<h1>Maggie Chang</h1>
    <hr> 

    <h5>
        Maggie Chang is a rising senior majoring in Applied Mathematics and Cello Music performance with a minor in Computer Science.
    </h5>

    <p style="text-align:center;">
        <img 
            src="https://images.squarespace-cdn.com/content/v1/54e7a1a6e4b08db9da801ded/7f2dae36-5650-4b84-b184-684f46fe68aa/98.jpg?format=1500w" 
            alt="Logo"
            width="400"
            >
    </p>
    <hr> 

    <h2> Things about me: </h2>
        
    <ul class="facts"> 
        <li> I have a shiba inu named Yuki (as shown above). </li>
        <li> I play the cello and am currently preparing for my senior recital.</li>
        <li> I play a video game called League of Legends and my favorite champion is Ahri. </li>            <li> I am from Irvine, California and there are so many good boba shops there! </li>
    </ul>
    <hr> 
    
    <table class="table table-border table-striped">
        <h4> Connect with me! </h4>
        <thead>
            <tr>
                <th>
                    Platform</th>
                <th>Link</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> Email</td>
                <td> 
                    <a href = "mailto: maggiechang@brandeis.edu"> Gmail</a>
                </td>
            </tr>
            <tr>
                <td> LinkedIn</td>
                <td> 
                    <a href = https://www.linkedin.com/in/maggiechang2019/ > LinkedIn </a>
                </td>
            </tr>
            <tr>
                <td> Instagram</td>
                <td> 
                    <a href = https://www.instagram.com/maggie_changg/ > Instagram </a>
                </td>
            </tr>
                
        </tbody>

    </table>










