<style> 
    h1 {
        color: #cad9f8;
        text-align: center;
    }

    h5{
        text-align: center;
        color: #cad9f8;
    }

    h2{
        text-align: center;
        color: #cad9f8;
    }

    h4{
        text-align: center;
        background-color: #cad9f8;
    }

    .facts{
        color: #cad9f8;
    }


    th{
        color: #cad9f8;
    }

    td{
        color: #cad9f8;
    }

    .rightColumn{
        color: #cad9f8;
    }

    table.table-border {
    border:1px solid #cad9f8;
}




</style>

<h1>Maggie Chang</h1>
    <hr> 

    <h5>
        Maggie Chang is a rising senior majoring in Applied Mathematics and Cello Music performance with a minor in Computer Science.
    </h5>

    <p style="text-align:center;">
        <img 
            src="./images/yuki.jpeg"
            alt="Logo"
            width="400"
            >
    </p>
    <hr> 

    <h2> Things about me: </h2>
        
    <ul class="facts"> 
        <li> I have a shiba inu named Yuki (as shown above). </li>
        <li> I play the cello and am currently preparing for my senior recital.</li>
        <li> I play a video game called League of Legends and my favorite champion is Ahri. </li>            
        <li> I am from Irvine, California and there are so many good boba shops there! </li>
    </ul>
    <hr> 
    
    <table class="table table-border">
        <h4> Connect with me! </h4>
        <thead>
            <tr>
                <th>Platform</th>
                <th>Link</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <td> Email</td>
                <td> 
                    <a href = "mailto: maggiechang@brandeis.edu" class="rightColumn"> Gmail</a>
                </td>
            </tr>
            <tr>
            <td> LinkedIn</td>
                <td> 
                    <a href = https://www.linkedin.com/in/maggiechang2019/ class="rightColumn" > LinkedIn </a>
                </td>
            </tr>
            <tr>
            <td > Instagram</td>
                <td> 
                    <a href = https://www.instagram.com/maggie_changg/ class="rightColumn"> Instagram </a>
                </td>
            </tr>
                
        </tbody>

    </table>










