<style> 

  h1{
    color: #CAF0F8;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    text-align: center;
    margin-top: 20px;
    
  }

  form{
    color: #CAF0F8;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
    
  }

  .submit{
    background-color:#CAF0F8;
    margin-top: 20px;
    
  }

  h2{
    color: #CAF0F8;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 30px;
  }

  li{
    color: #CAF0F8;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
</style>


<h1>Studio Ghibli: Movie ID </h1>


<form method="post" action="/ghibli">
  Enter the movie ID = <input type="text" step = "any" name="movie" />
  <br> 
  <input type="submit" class="submit"/>
   
</form>

<h2> Example IDs: </h2>
<ul>
  <li>2baf70d1-42bb-4437-b551-e5fed5a87abe</li>
  <li>4e236f34-b981-41c3-8c65-f8c9000b94e7</li>
  <li>ebbb6b7c-945c-41ee-a792-de0e43191bd8</li>
</ul>



