<style> 

  h1{
    color: #CAF0F8;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500
  }

  form{
    color: #CAF0F8;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold
  }

  .submit{
    background-color:#CAF0F8 ;
  }
</style>


<h1>Studio Ghibli: Movie ID </h1>


<form method="post" action="/ghibli">
  Enter the movie ID = <input type="text" step = "any" name="movie" />
  <br> 
  <input type="submit" class="submit"/>
   
</form>

