<style> 

  h1{
    color: #5d5746;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;       
  }
</style>

<h1>Welcome to Maggie's App!</h1>
<hr> 
<a href="/bio">About the Developer</a>
<hr> 
<a href="/ghibli">Information about Studio Ghibli</a>
<hr>