<style>
    h1{
        color: #cad9f8;
    }
</style> 

<h1>More Runes Information </h1> 

<% for(info of runes){%> 
    <% for(rune of info.slots){%> 
        <% for(subrune of rune.runes){%> 
            <ul>
                <li><%= subrune.key %> </li> 
            
            </ul> 
            <!-- <%=JSON.stringify(subrune, null, 5)%>  -->
        <% } %>
    <% } %>
<% } %>

