<!DOCTYPE html>
<html>
  <head>
    <title>Maggie's app</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 

    <style> 
      p{text-align: center;}
      .navbar-custom{
        background-color: #14213D; 
      }

      body{
        background-color: #14213D;
      }
    
    
      .textColor{
        color: #CAF0F8;
      }

      .textColor:hover{
        color: #CAF0F8;
      }

      .mint{
        color: #CAF0F8;
      }
      
      .mint:hover{
        color: #CAF0F8;
      }

    
    </style>

  </head>
  <body class="container">
    <nav class="navbar navbar-expand-lg navbar-custom">
      <div class="container-fluid">
        <a class="navbar-brand mint">
          Mint 
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" style="color:#CAF0F8" href="/homePage">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link textColor" href="/showChampions">Champions</a>
            </li>
            <li class="nav-item">
              <a class="nav-link textColor" href="/tempRunes">Runes</a>
            </li>
             <li class="nav-item">
              <a class="nav-link textColor" href="/aboutapp">About the App</a>
            </li>
            <li class="nav-item">
              <a class="nav-link textColor" href="/bio">About the Developer</a>
            </li>
            <li class="nav-item">
              <a class="nav-link textColor" href="/ghibli">Ghibli</a>
            </li>
            <li class="nav-item">
              <a class="nav-link textColor" href="/runesHome">Delete</a>
            </li>
            
    
          

          </ul>
          
        </div>
      </div>
    </nav>
    <%- body %>
  </body>
  
</html>