<style>
    h2{
        color: #ADE8F4;
        text-align: center;
    }
    
    hr{
        color: #ADE8F4;
        height: 10px;
        border-top: 4px solid;
    }

    .information{
        color: #ADE8F4;
        text-align: center;
        display: flex;
        flex-direction: column;
        width: 400px;
        line-height: 26px;
        margin-bottom: 10px;
        margin: auto;

    }


</style> 



<h2>Signup</h2>
<hr> 

<form method="post" action="/signup" class="information">
    Riot Username: <input type="text" autocomplete="username" name="username"><br>
    Create Password:
        <input type="password" autocomplete="passphrase" name="passphrase"><br>
    Confirm password:
        <input type="password" name="passphrase2"><br> 
    
          
    <input type="submit">
</form>
