<style>
    h1{
        color: #cad9f8;
        text-align: center;
        flex-direction: column;
    }

    .formStyle{
        color: #cad9f8;
        text-align: center;
        height: 10px;
        margin-bottom: 50px;
        margin-top: 40px;
    }

</style> 

<h1> Search Champion and Delete</h1>

<form class="formStyle" method="post" action="/runesHome">
    Enter Champion Name: <input type="text" name="championName"> 
    <input type="submit" style="background-color:#cad9f8"> 

</form> 
<br> 