<style>
    h1{
        color: #cad9f8;
    }
    
    html {  
      scroll-behavior: smooth;  
    }   

</style> 

<h1>Domination </h1> 



<a id="link" href="#element_target">Go to content</a>
<div id="topPage">Top of Page</div> 

<p style="font-size: 100px"> 
    Lorem ipsum dolor sit amet. In officia sunt sit omnis laboriosam ea voluptates quas est reiciendis delectus! Rem maiores dolor 33 consequatur molestias est necessitatibus voluptatum sit voluptatum dolore ex quidem omnis. Et rerum consequuntur et veniam eveniet eos aspernatur animi id voluptatem magni hic dolorem galisum.

Qui sapiente accusamus qui voluptate reprehenderit sit earum eaque est ducimus dolorem 33 voluptatem tempora et Quis minima non animi sapiente. Et veritatis mollitia qui blanditiis inventore et reprehenderit consequatur aut suscipit vitae ut quidem adipisci. Ad commodi laborum non adipisci voluptatum eos vero galisum.

Et repellendus doloremque est repellendus magni ea consequatur libero et suscipit incidunt id nesciunt architecto 33 quod illum corporis quas! Qui veniam consequuntur aut incidunt libero eum culpa voluptatem qui aspernatur voluptates. Cum excepturi provident et doloribus repudiandae eum voluptatum dolor est nihil veritatis et dolor voluptas. Aut eaque dolorem ad corrupti dolores et voluptatum omnis.
</p>

<div id="element_target">Content</div> 
<a id="link" href="#topPage">Go back to top of page</a>
